{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <div class='container mt-5'>
        {% if meterPoints %}
            <table class='table mt-5'>
                <thead class='thead-dark'>
                <tr>
                    <th scope='col'>Smart Card Number</th>
                    <th scope='col'>Identifier</th>
                    <th scope='col'>Utility Market</th>
                    <th scope='col'>Tariff</th>
                    <th scope='col'>Action</th>
                </tr>
                </thead>
                <tbody>

                {% for mp in meterPoints %}
                    <tr>
                        <th scope='row'>{{ mp.smartCardNumber }}</th>
                        <td>{{ mp.identifier }}</td>
                        <td>{{ mp.utilityMarket }}</td>
                        <td>{{ mp.tariff }}</td>
                        <td>
                            <a href='/meter-points/{{ mp.identifier }}/?tab=payments'
                               class='btn btn-outline-primary btn-sm btn-block' role='button'>View</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
